<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<p th:text="'Hello, ' + ${name} + '!'" />
<div th:switch="${heroes}">
    <h2 th:case="null">No heroes yet!</h2>
    <div th:case="*">
        <h2>Heroes</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="hero:${heroes}">
                    <td th:text="${hero.name}"></td>
                    <td th:text="${hero.gender}"></td>
                    <td><a th:href="@{/edit/{id}(id=${hero.id})}">Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${hero.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/create">Add a new hero</a></p>
</div>
</body>
</html>